<h1>Response Details</h1>

<p><strong>ID:</strong> <%= @response.id %></p>
<p><strong>Created At:</strong> <%= @response.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>

<h2>Answers</h2>
<ul>
  <% @response.answers.each do |answer| %>
    <li>
      <strong><%= answer.form_field.field_text %>:</strong> <%= answer.response_text %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_form_response_path(@form, @response), class: "btn btn-secondary" %> |
<%= link_to 'Delete', form_response_path(@form, @response), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %> |
<%= link_to 'Back to Responses', form_responses_path(@form), class: "btn btn-secondary" %>
